/*
========== PRIMARY ==========
*/

@font-face {
   font-family: "font-primary";
   font-weight: 100;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/thin.otf") format("opentype");
}
@font-face {
   font-family: "font-primary";
   font-weight: 200;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/extralight.otf") format("opentype");
}
@font-face {
   font-family: "font-primary";
   font-weight: 300;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/light.otf") format("opentype");
}
@font-face {
   font-family: "font-primary";
   font-weight: 400;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/regular.otf") format("opentype");
}
@font-face {
   font-family: "font-primary";
   font-weight: 500;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/medium.otf") format("opentype");
}
@font-face {
   font-family: "font-primary";
   font-weight: 600;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/semibold.otf") format("opentype");
}
@font-face {
   font-family: "font-primary";
   font-weight: 700;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/bold.otf") format("opentype");
}
@font-face {
   font-family: "font-primary";
   font-weight: 800;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/extrabold.otf") format("opentype");
}
@font-face {
   font-family: "font-primary";
   font-weight: 900;
   font-display: swap;
   font-style: normal;
   src: url("/fonts/black.otf") format("opentype");
}