:root {
	--max-width-narrow: 1180px;
	--max-width: 1432px;

	--primary-100: 113 132 223;
	--primary-200: 52 80 210;
	--primary-300: 36 56 147;
	--primary-400: 22 36 99;

	--secondary: 46 181 67;
	
	--neutral-100: 252 251 251;
	--neutral-200: 222 225 227;
	--neutral-300: 196 201 204;
	--neutral-400: 84 93 102;
	--neutral-500: 79 84 89;
	--neutral-600: 26 28 31;
	--neutral-700: 26 28 31;

	--general-black: 31 31 31;

	--font-primary: 'font-primary';
}